body{
width:100%;
position: fixed;
}
*{
  margin: 0;
  padding:0;
}


 
#navbar{height: 50px;box-sizing: border-box;}
#navbar::after{content: "";display: block;clear: both; }

.rightmenu{float: right;height: 50px;}
.rightmenu ul{

  list-style: none;
}
.rightmenu ul li{
    
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-transform:capitalize;
  float: left;
  bottom:5px;
  position: relative;
  text-decoration: none;
  
}
.rightmenu ul li a{
text-decoration: none;

      
}
.rightmenu ul li a:hover{
  background-color: #3480eb;



}


.maincontainer{
  
  width: 100%;
  height: 500px;
  padding: 25px;
  background-image: url("bg.jpg");
  background-size: cover;



}
.maincontainer::after{content: "";display: block;clear: right;}
.findtrain{

  width: 290px;
  height: 400px;
  
  padding-left: 15px;
  


  
  box-shadow:20px 20px 50px 15px grey;
  
  float: right;
  
 border-radius: 10px;
 

}
.login-form{
 
  width: 290px;
  height: 400px;
  /*padding: 20px 30px;*/
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 13px;
  border-radius: 10px;
    


  box-shadow:20px 20px 50px 15px grey;
  float: left;
  
  


 }
.login-form img{
  width: 60px;
  height: 60px;
  background-size: 100%;
  
  margin-top:-30px;
  margin-left: 100px;
  border-radius: 25px;

 }

.list{
  list-style-type: none;
  margin:auto;
  text-align: center;
 }
ul.list li{
  width: 250px;
  margin-bottom: 10px;

  color: #000;
}
ul.list li input[type="text"],[type="date"]{
  width: 200px;
  text-align: center;
  padding: 8px 0px;
  border:none;
  color: #666;
  background-color: #d3d3d3;

}
ul.list li input[type="password"]{
  width: 200px;
  text-align: center;
  padding: 8px 0px;
  border:none;
  background-color: #d3d3d3;

}
ul.list li input[type="submit"]{
  width: 200px;
  padding: 8px 0px;
  background-color: DodgerBlue;
  color: white;

}
.selector{
  width: 200px;
  text-align: center;
  padding: 8px 0px;
  border:none;
  color: #666;
  background-color: #d3d3d3;
}
.banner::after{
content="";
display:block;
clear:both;}
.wrapper::after{
  content: "";
  display: block;
  clear: both;
}
.maindivforadmin::after{
  content: "";
  display: block;
  clear: both;
}
.maindivforadmin.leftSection.liststyle ul li{
  list-style: disc;


}
.icontypeimage::after{
  content: "";
  display: block;
  clear: both;
}
/*.home:hover{

   width: 200px;
      height: 200px;
      border-radius: 50%;
      background: url("D:/home.png") no-repeat;
    }*/
}