.shift{
	box-sizing: border-box;
/* 	border:solid red; */
	
}

.shift	ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

 .shift li {
  float: left;
}

.shift li a {
	border-bottom:none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.shift li a.active {
  background-color: #4287f5;
  color: white;
}

.shift li a:hover:not(.active) {
  background-color: #4287f5;
  color: white;
}